@use '../../../../../styles/tokens' as *;

.extend-dates {
  max-width: 600px;

  &__header {
    margin-bottom: $space-6;

    h1 {
      font-size: $font-size-2xl;
      font-weight: $font-weight-bold;
      color: $color-secondary-800;
      margin: 0 0 $space-1;
    }
    p {
      color: $color-secondary-500;
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $space-5;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: $space-1;

    label {
      font-size: $font-size-sm;
      font-weight: $font-weight-medium;
      color: $color-secondary-700;
    }

    .current {
      font-size: $font-size-xs;
      color: $color-secondary-400;
    }
  }

  &__error {
    font-size: $font-size-xs;
    color: $color-error-500;
  }

  &__actions {
    display: flex;
    gap: $space-3;
    padding-top: $space-4;
    border-top: 1px solid $color-secondary-200;
  }
}
